<h1>Properties.....</h1>

<% @properties.each do |property| %>
  <% if property.main_image.present? %>
  <%= link_to image_tag(property.main_image), property %>
  <% else %>
  <%= link_to image_tag('/assets/images.jpeg'), property %>
  <% end %>

<p>Location : <%= property.location %></p>
<% end %>
