<h1>Welcome to Sydney Property Seller Site......</h1>

<h2>Search for your Dream Home.....</h2>

<form>

    <label>
      Location :
      <input type="text" name="location" > <br>
    </label>

  <label>
    Price :
    <input type="number" name="price"> <br>
  </label>

  <label>
    Type:
    <input type="text" name="property_type"> <br>
  </label>

  <label>
    Bedrooms :
    <input type="number" name="bedrooms"> <br>
  </label>

  <label>
    Bathrooms :
    <input type="number" name="bathrooms"> <br>
  </label>

  <label>
    Car Spaces :
    <input type="number" name="car_spaces"> <br>
  </label>

  <label>
    Landsize:
    <input type="number" name="landsize"> <br>
  </label>

  <%= button_to "Search", properties_path %>  
</form>
